

.navbar h1 {
  font-size: 1.5rem; 
  margin: 0;
  padding-left: 30px;
}

.navbar .links {
  display: flex;
  flex-grow: 1;
  justify-content: center; 
  padding-right: 150px;
  
}

.navbar .links a {
  color: #0bbf74;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
  padding-left: 50px;
}
.navbar-logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.logo {
  height: 2rem; /* Adjust the height as needed */
  width: auto;
  
  

}
.navbar .links a:hover {
  color: #c7f4da;
}
  
  .navbar {
    background-color: #1a1a1a;
    color: white;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
 
  .menu-icon {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
  }
  .signup-button {
    appearance: none;
    background-color: #046b40;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
    color: #e6ece7;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 4px 17px;
    position: relative;
    transition: background-color 0.3s ease, transform 0.1s ease;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    text-decoration: none;
  }
  
  .signup-button:hover {
    background-color: #45a049; /* Darker green on hover */
    transform: scale(1.05);
    transition-duration: 0.4s;
  }
  
  .signup-button:disabled {
    background-color: #fafbfc;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959da5;
    cursor: default;
  }
  
  .signup-button:active {
    background-color: #edeff2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }
  
  .signup-button:focus {
    outline: 1px transparent;
  }
  
  .logout-button {
    appearance: none;
    background-color: #046b40;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 6px;
    box-shadow:
      rgba(27, 31, 35, 0.04) 0 1px 0,
      rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #e6ece7;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 3px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    text-decoration: none;
  }
  
  .logout-button:hover {
    background-color: #00b53f;
    color: #dddcdc;
    text-decoration: none;
    transition-duration: 0.4s;

  }
  .logout-button:focus {
  outline: 2px solid #36f45c;
  outline-offset: 2px;
}
  
 
  @media (max-width: 768px) {
    .links {
      position: fixed;
      top: 70px;
      right: 0;
      background-color: #1a1a1a;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
    }
  
    .links.mobile {
      transform: translateX(0);
    }
  
    .menu-icon {
      display: block;
    }
    .signup-button {
      order: -1;
      margin-bottom: 10px;
    }
    .logout-button {
      order: -1;
      margin-bottom: 10px;
    }
  }

  